# Database Configuration
DATABASE_URL='postgresql://username:password@hostname:port/dbname?sslmode=require'

# JWT Configuration
JWT_SECRET_KEY='your_super_secret_key_here'
# Flask Configuration
FLASK_APP=main.py
FLASK_ENV=development
